laravel/bootstrap/cache/services.php

laravel/storage/app/*
laravel/storage/framework/cache/*
laravel/storage/framework/sessions/*
laravel/storage/framework/views/*
laravel/storage/logs/*

laravel/vendor/**/test*
laravel/vendor/**/tests*
laravel/vendor/**/Tests*

laravel/**/*node_modules

laravel/**.git
laravel/.idea
laravel/**.gitignore
laravel/**.gitattributes
laravel/**.sass-cache
laravel/*.env*
laravel/composer.json

laravel/?ulpfile.js
laravel/?untfile.js
laravel/package.json
laravel/phpunit.xml
laravel/readme.md
laravel/phpspec.yml